{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock title %}
{% block content %}

{% if user.is_authenticated %}
{% include 'fragments/__titulo.html' with titulo=user.email %}
{% else %}
{% include 'fragments/__titulo.html' with titulo="Inicia sesión" %}
<p class="my-5">
  <a href="{% url 'users:login' %}">Login aquí</a>
</p>
{% endif %}

{% include 'fragments/__card.html' with header="Bienvenido a la Aplicación" titulo="Sobre nuestra App" contenido="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel nunc aliquam, porttitor neque sed, lobortis mauris. Phasellus ac mollis quam. Fusce ut feugiat enim. Mauris molestie eu dui nec auctor. Nullam sit amet consectetur nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit enim sed metus laoreet, facilisis vulputate mauris efficitur. Proin consequat aliquet sem molestie cursus. Vestibulum tristique elit vel magna auctor, eget vulputate justo vehicula. Vivamus facilisis ante in nisi finibus, eu aliquam lorem suscipit. Suspendisse tristique, nisi ac suscipit consectetur, mi nisi auctor turpis, quis rutrum mi justo posuere lorem. Nullam iaculis mauris eget mi tincidunt congue. Nulla id est porta ante ultrices auctor." %}
{% endblock content %}
